/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* shared styles */
.display-flex{
    display: flex;
}

.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}

.primary-bg{
    background-color: rgba(255, 144, 14, 0.1);
}

.secondary-bg{
    background-color: #FFF4E7;
}


/* header styles */


/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
    margin: 30px 0;
}
.nav-links{
    gap: 60px;
}

.nav-item{
    list-style: none;
    font-size: 18px;
    /* margin-right: 30px; */
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}